<head>
  <%= stylesheet_link_tag "application.css" %> </head>
<p id="notice"><%= notice %></p>
<div class="row" style="height:47px">

     <div class="col">
      <h1 style="text-align:left; padding-left:2%;">Admin Page</h1>
    </div> 
</div>
<div class="row" style="background-color:#aad4e5;color:black;">
     <div class="col-9" style="text-indent:70px;text-align:center;">
     <p style="color:inherit;">
     This is where the admin table will go
    </p>
    </div> 

</div>
<head>
  <%= stylesheet_link_tag "application.css" %> </head>
<p id="notice"><%= notice %></p>
<div class="row" style="height:47px">

     <div class="col">
      <h1 style="text-align:left; padding-left:2%;">Admin Page</h1>
    </div> 
</div>
<div class="row" style="background-color:#aad4e5;color:black;">
     <div class="col-9" style="text-indent:70px;text-align:center;">
     <p style="color:inherit;">
     This is where the admin table will go
    </p>
    </div>
    </div>
<div>
<div class="row"><h1 class="col-sm">Customers</h1>
<p class="col-sm"><%= link_to 'New Customer', new_customer_path %></p></div>
<table>
  <thead>
    <tr>
      <th>C</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Username</th>
      <th>Num meals</th>
      <th>Allergies</th>
      <th>Pickup date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.c_id %></td>
        <td><%= customer.FirstName %></td>
        <td><%= customer.LastName %></td>
        <td><%= customer.UserName %></td>
        <td><%= customer.Num_Meals %></td>
        <td><%= customer.Allergies %></td>
        <td><%= customer.Pickup_Date %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div>
<div class="row"><h1 class="col-lg">Restaurants</h1>
<p class="col-sm"><%= link_to 'New Restaurant', new_restaurant_path %></p></div>
<table>
  <thead>
    <tr>
      <th>R</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.r_id %></td>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.email %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>