<p id="notice"><%= notice %></p>

<div class="row" style="background-color:#aad4e5;color:black;">
<div  class="col-11" style="text-indent:120px;text-align:center;">
<p style="color:inherit;">
Hi, <%= current_user.first_name %>!
Here are your current orders:
</div>
</p>
</div>

<table>
  <thead>
    <tr>
       <th>Order Id</th>
       <th>Date Requested</th>
       <th>Pickup Date</th>
       <th>Meal description</th>
       <th>Restaurant Id</th>
       <th>Edit</th>
       <th>Cancel</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order|%>
    <tr>
      <td><%= order.id %></td>
      
      <td><%= order.created_at %></td>

      <td><%= order.pickup_date %></td>

      <td><%= order.meal_description %></td>

      <td><%= order.restaurant_id %></td>

      <td><%= link_to 'Edit Order', edit_order_path(order) %></td>

      <td><%= link_to 'Cancel Order', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>




      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'place a new order', new_order_path %></p>