<p id="notice"><%= notice %></p>

<div class="row" style="background-color:#aad4e5;color:black;">
<div  class="col-11" style="text-indent:120px;text-align:center;">
<p style="color:inherit;">
Hi, <%= current_user.first_name %>!
</div>
</p>
</div>
<p>
  <strong>first_name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>last_name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>num_meals:</strong>
  <%= @user.num_meals %>
</p>

<p>
  <strong>allergies:</strong>
  <%= @user.allergies %>
</p>

<p>
  <strong>pickup_date:</strong>
  <%= @user.pickup_date %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
