<p id="notice"><%= notice %></p>

<p>
  <strong>C:</strong>
  <%= @customer.c_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @customer.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @customer.LastName %>
</p>

<p>
  <strong>Username:</strong>
  <%= @customer.UserName %>
</p>

<p>
  <strong>Num meals:</strong>
  <%= @customer.Num_Meals %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @customer.Allergies %>
</p>

<p>
  <strong>Pickup date:</strong>
  <%= @customer.Pickup_Date %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
