<p id="notice"><%= notice %></p>

<p>
  <strong>first_name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>last_name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>username:</strong>
  <%= @customer.username %>
</p>

<p>
  <strong>num_meals:</strong>
  <%= @customer.num_meals %>
</p>

<p>
  <strong>allergies:</strong>
  <%= @customer.allergies %>
</p>

<p>
  <strong>pickup_date:</strong>
  <%= @customer.pickup_date %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
