<div class='signinBox'>
<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <%= form.label :number_of_meals %>
  <%= form.select :num_meals, [1,2,3,4,5,6,7,8,9,10]%>
  </div>

    <%= form.number_field :user_id, id: :order_user_id,
        value: current_user.id, type: :hidden %>
  


  
    <div class="field">
    <%= form.label :pickup_date %>
    <%= form.datetime_select :pickup_date, { ampm: true, order: [:month, :day, :year] } %>
</div>
    <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.collection_select(:restaurant_id, Restaurant.all, :id, :name, prompt: true) %>
</div>


  <div class="actions">
    <%= form.submit :class => 'btn'%>
  
    </div>
<% end %>
<%= link_to 'Back', current_user %>
</div>
  </div>

