<p id="notice"><%= notice %></p>


<p>
  <strong>Num meals:</strong>
  <%= @order.num_meals %>
</p>


<p>
  <strong>Pickup date:</strong>
  <%= @order.try(:pickup_date).try(:strftime, "%m-%d-%Y") %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant_name %>
</p>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', current_user %>