<p id="notice"><%= notice %></p>

<img class="card-img-top" src="<%= @restaurant.picture_link %>" alt="Card image cap" height="300px" width="100px">

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.email %>
</p>
<p>
  <strong>description:</strong>
  <%= @restaurant.description %>
</p>
<p>
  <strong>PicLink:</strong>
  <%= @restaurant.picture_link %>
</p>

<p style="color:inherit;">
Hi, <%= @restaurant.name %>!
Here are your current <%= @restaurant.orders.count %> orders:
</p>


<table>
  <thead>
    <tr>
       <th>Order Id</th>
       <th>Date Requested</th>
       <th>Pickup Date</th>
       <th>Meals Requested</th>
    </tr>
  </thead>
  <tbody>
  <%- @restaurant.orders.each do |order|%>
      <tr>
      <td><%= order.id %></td>
      
      <td><%= order.created_at.strftime("%m/%d/%Y") %></td>

      <td><%= order.pickup_date.strftime("%m/%d/%Y, %l:%M %p") %></td>

      <td><%= order.num_meals%></td>
      </tr>
    <% end %>

  </tbody>
</table>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
